html{

background-color:green;

}


body{

filter: invert(1) hue-rotate(180deg);

}

nav,img,svg,video,iframe,frame{

filter: invert(1) hue-rotate(180deg);

}

nav svg,nav img{
  
 filter:none; 
  
}
