html{

background-color:green;

}


body{

filter: invert(1) hue-rotate(180deg);

}

nav.TopNav,nav.OverlayMenu,img,svg,video,iframe,frame{

filter: invert(1) hue-rotate(180deg);

}

nav.TopNav svg,nav.TopNav img,nav.OverlayMenu svg,nav.OverlayMenu img{
  
 filter:none; 
  
}


div.PostHeader__post-descriptor-line:after{

visibility:hidden;

}


h1,p,span{

filter:brightness(2);

}
