html{

background-color: #eeeeff;

}


body{

filter: invert(1) hue-rotate(180deg);

}

div[style*="mobileBannerImage"],div.CommunityHeader-banner,nav.TopNav,nav.OverlayMenu,img,svg,video,iframe,frame{

filter: invert(1) hue-rotate(180deg);

}

div[class^="subredditvars"]  a[href^="\/r\/"]:first-of-type{
  
filter: invert(1) hue-rotate(180deg);

}

nav.TopNav svg,nav.TopNav img,nav.OverlayMenu svg,nav.OverlayMenu img{
  
 filter:none; 
  
}


div.PostHeader__post-descriptor-line:after{

visibility:hidden;

}


h4,p,span.PostHeader__author-flair,a.PostHeader__post-title-line,div.CommentHeader__flair,div.PostContent__selftext  {

    filter: brightness(0.8) saturate(2);
  color:black;

}

 div.PostContent__selftext img{

filter: brightness(0.8) saturate(2) invert(1) hue-rotate(180deg);

}

div.PostContent__selftext svg{


filter: brightness(1.25) saturate(0.5) invert(1) hue-rotate(180deg);


}



