div#wrapper-AD_MOBILE2,
div#cx-snippet-overlay,
div.css-1vlbiim-Container,
a[aria-label*="WSJ Logo"],
div[aria-label*="Sponsored Offers"],
div[data-skip-label*="Listen To Article"],
div[aria-label*="What to Read Next"],
div[aria-labelledby*="share-tool-label"],
div[aria-label*="Markets summary"],
div[class*="article-body-tools"],
div[class*="overlay-tabs"],
div[class*="market-data-strip"],
div.adWrapper,
div[class*="adWrapper"],
div[class*="native-strip"],
div[class*="SwapContentContainer"],
div[class*="commentShareIcons"],
div[class*="LoginButtonsWrapper"],
div[class*="FollowButton"],
div[class*="MdSector"],
div[class*="login-buttons"],
div[class*="logo-wrapper"],
div[class*="mobileshare"],
div[class*="highlights__container"],
a[class*="comment-count"],
div.audio-subscribe,
iframe[title="Balance of Power"],
footer,
div[height="100px"],
div[aria-label="Markets summary"],
#my-account,
#follow-wsj-world,
#sign-up-for-newsletters-and-alerts,
ufc-follow-author-widget,
#cx-what-to-read-next,
#elections2020-banner
{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}


 section:after{max-height:0px;} 

div[style="background-color:#f4f4f4"],
header[role="banner"],
#masthead-container,
div[class*="mast-head"],
div[class*="HeaderContainer"]
{
   background:transparent !important;
   border:none !important;
}

#masthead-container:after{
border-bottom-left-radius: 7px;
background-color: #99DDFF !important;
white-space: pre; 
content:"WELLSTREET\AJOURNAL";
font-family: "Times New Roman", Times, serif;
font-size: 8px;
height: 20px;
text-align: right;
position:absolute;
z-index: 999;
top: 0px;
right: 0px;
}


button[data-testid="burger-menu"],
button[class*="style--burger"]
{
background-color: #99DDFF !important; 
top: 0px;
left: 0px; 
border-bottom-right-radius: 7px;
}

html,
img,
svg,
video,
embed,
object,
div[class*="HeadlineContainer"],
#big-top-caption
{
filter:invert(100%) hue-rotate(180deg);
  
}

html,
body[class="vsc-initialized"],
div[class*="article-container"],
figcaption,
div[data-type="image"],
div[class*="RibbonContainer"],
nav[class*="NavContainer"],
div[class*="WhatsNewsTheme"],
div[class*="WSJTheme"],
main
{
   
background-color: #DDEEFF;

}

body
{
background-color: #DDEEFF !important;
}

#big-top-caption,
h1[class*="BigTopHeadliner"],
h1[class*="TopDek"],
div[class*="HeadlineContainer"]
{
font-color:white;
background-color:#221100;
filter: invert(1);
}

h1[class*="BigTopHeadline"],
h2[class*="TopDek"],
span[class*="CaptionSpan"],
span[class*="Credit"]
{
  font-color: #888888 !important; 
}

div[class^="css-"],
div[class*="WSJTheme--thumb-overlay"]
{
   background-color: transparent !important;
   margin: 0px !important;
}

h3[class*="WSJTheme--headline"]
{

color:#DDEEFF !important;

}

div[class*="card__paywalled_text"]
{

   max-height:none !important;

}

div[class*="card__paywalled_text"] ul{
   display: none !important;
   visibility: hidden !important;
   opacity :0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}
div[class*="card__paywalled_text"] strong{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}
dev[class*="MoreArticlesInfoSection"]
{

   color:blue;

}
