div#wrapper-AD_MOBILE2,
div#cx-snippet-overlay,
div.css-1vlbiim-Container,
a[aria-label="WSJ Logo"],
div[aria-label="Sponsored Offers"],
div[data-skip-label="Listen To Article"],
div[class*="article-body-tools"],
div.adWrapper,
div[class*="adWrapper"],
div[class*="SwapContentContainer"],
div[class*="LoginButtonsWrapper"],
iframe[title="Balance of Power"],
div[data-block="doNotPrint"],
footer,
div[height="100px"]
{
   display:none;
   visibility:hidden;
   opacity:0;
   max-height:0px;
   height:0px;
   transform: scale(0,0);
   position:absolute;
   z-index:-99;
}


 section:after{max-height:0px;} 


header[role="banner"]{
   background:transparent;
   border:none !important;
}
button[data-testid="burger-menu"]{
 background:silver;  
}

html,
div[aria-label="Markets summary"],
img,
svg,
video,
embed,
object
{
filter:invert(100%) hue-rotate(180deg);
}

body[class="vsc-initialized"]
{
   
background-color:#AAAAFF;

}
