   div#wrapper-AD_MOBILE2,
div#cx-snippet-overlay,
div.css-1vlbiim-Container,
div[aria-label="What to Read Next"],
div[aria-label="Sponsored Offers"],
div[data-block="doNotPrint"],
div.adWrapper,
div[class*="adWrapper"],
div[class*="SwapContentContainer"],
footer,
div[class*="LoginButtonsWrapper"]

{
   display:none;
   visibility:hidden;
   opacity:0;
   max-height:0px;
   height:0px;t
   ransform: scale(0,0);
   position:absolute;
   z-index:-99;
}


 section:after{max-height:0px;} 


header[role="banner"]{
   background:transparent;
   border:none !important;
}

