

[id*="google_ads"],
[class*="sponsored"],
.premium-banner-outer,
.justify-content-center,
#divcookie,
div[id*="adBreak"],
div[id*="primis"],
div[id*="primis_player"],
div[id*="primis_container_div"],
#ctl00_cite,
#frb-main,
#frb-inline,
#frb-nag,
div.XPromoPill
{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}
		 
.dayMode div.PostHeader__post-descriptor-line:after{background:linear-gradient(90deg,hsla(0,0%,100%,0) 0,#000 70%)}
		 

