

[id*="google_ads"]{display:none;visibility:hidden;}

[class*="sponsored"]{display:none;visibility:hidden;}

.premium-banner-outer{display:none;visibility:hidden;}

.justify-content-center{display:none;visibility:hidden;}

#divcookie{display:none;visibility:hidden;}

div[id*="adBreak"]{display:none;visibility:hidden;}

div[id*="primis"]{display:none;visibility:hidden;}

div[id*="primis_player"]{display:none;visibility:hidden;}

div[id*="primis_container_div"]{display:none;visibility:hidden;}

#ctl00_cite{display:none;visibility:hidden;}

#frb-main{display:none;visibility:hidden;}

#frb-inline{display:none;visibility:hidden;max-height:0px;max-witdh:0px;}

#frb-nag{display:none;visibility:hidden;max-height:0px;max-witdh:0px;}

div.XPromoPill{display:none;visibility:hidden;max-height:0px;max-witdh:0px;}
		 
.dayMode div.PostHeader__post-descriptor-line:after{background:linear-gradient(90deg,hsla(0,0%,100%,0) 0,#000 70%)}
		 

